<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Recorder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
    <div id="controls" class="controls">
        <button id="recordButton">Start Recording</button>
        <p id="timeLabel">Time Limit: 2 minutes</p>
    </div>
    <div id="transcripts" class="transcripts">
        <p id="placeholder">Recorded audio data will be translated into English (if necessary) and displayed here.</p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
